@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.skills-texts {
  color: white;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 0px;
  padding: 10px 20%;
  cursor: default;
}

.skills-texts h1 {
  font-family: "Kaushan Script", cursive;
  font-size: 50px;
}

.skills-texts P {
  text-align: justify;
  margin-top: 10px;
  margin-bottom: 50px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  word-spacing: 3px;
  line-height: 40px;
}

.skillCard {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  gap: 40px;
  top: 15px;
}

.skillCard .card {
  position: relative;
  width: 220px;
  height: 250px;
  background: #000000; /*#191919; */
  cursor: grab;
  opacity: 0;
  animation: fadeIn 1s linear forwards;
  animation-delay: 0.1s;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.skillCard .card .percent {
  position: relative;
  width: 150px;
  height: 150px;
}

.skillCard .card .percent svg {
  position: relative;
  width: 150px;
  height: 150px;
  transform: rotate(270deg);
}

.skillCard .card .percent svg circle {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 1;
  stroke: #ffffff;
  transform: translate(5px, 5px);
}

.skillCard .card .percent svg circle:nth-child(2) {
  stroke: var(--clr);
  opacity: 1;
}

.dot {
  position: absolute;
  inset: 5px;
  z-index: 10;
  animation: animateDot 2s linear forwards;
}

@keyframes animateDot {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(calc(3.6deg * var(--num)));
  }
}

.dot::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  border-radius: 40%;
  background: var(--clr);
  box-shadow: 0px 0px 10px var(--clr), 0px 0px 30px var(--clr);
}

.number {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  animation: fadeIn 1s linear forwards;
  animation-delay: 2s;
  font-size: 12px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.number h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 700;
  font-size: 2.5em;
}

.number h2 span {
  font-weight: 300;
  color: #fff;
  font-size: 0.5em;
}

.number p {
  font-weight: 300;
  font-size: 0.75;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.75);
}
